NODE_ENV=production
MAX_DATACLIP_SIZE_MB=10
WORKER_BACKOFF_SECONDS=0.1/2
WORKER_CAPACITY=2
WORKER_COLLECTIONS_URL=http://lightning:4000/collections
WORKER_LIGHTNING_SERVICE_URL=ws://lightning:4000/worker
WORKER_LOG_LEVEL=info
WORKER_MAX_PAYLOAD_MB=10
WORKER_MAX_RUN_DURATION_SECONDS=7200
WORKER_MAX_RUN_MEMORY_MB=1000
WORKER_MAX_SOCKET_TIMEOUT_SECONDS=60
WORKER_PORT=2222
